body {
  font-size: 16px;
  color: #fff;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/** HEADER **/
#header-nav {
  background-color:grey;
  border-radius: 0;
  border: 0;
  padding:auto;

}

#p1{
  color:black;
  font-size: 40px;


}

.navbar-brand {
  padding-top: 5px;
  line-height: 0.5
  color: black;
  font-size: 2em;
 
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .55;
  margin-bottom: 5px;
}


.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}


.col-md-12.col-sm-12.col-xs-12{
  color:black;
  font-size:15px;
  background: grey;
  margin-top:auto;
  margin-left: auto;
  margin-right: auto;
  margin-right: auto;
  padding: auto;
  height: 1000px;

}



/* END HEADER */

