* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


h1 {
  margin-top:10px;
  margin-bottom: 60px;
  text-align: center;
  font-family: Comic Sans MS;
}

#p7,#p8,#p9{
  background: grey;
  height: 150px;
  font-family: Comic Sans MS;
  color: black;
  padding:0px 20px 20px 20px;
  overflow: hidden;
  border:1px solid black;
  
}



.row>div{
  padding: 10px;
}


@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3 {
   float:left;
   
  }
  
  #p4 #p1{
  margin-bottom: 20px
  color: black;
  background:#F08080;
  text-align:center;
  width:30%;
  height: 20%;
  position:relative;
  top:0%;
  left:70%;
  border:1px solid black;
}

  #p5 #p2{
  margin-bottom: 20px;
  color:white;
  background:#FF6347;
  text-align:center;
  width:30%;
  height:20%;
  position:relative;
  top:0%;
  left:70%;
  border:1px solid black;
}

  #p6 #p3{
  margin-bottom:20px;
  color:black;
  background:#F0E68C;
  text-align:center;
  width:30%;
  height: 20%;
  position:relative;
  top:0%;
  left:70%;
  border:1px solid black;
  }
  
  
  .col-lg-1 {
    width: 33.3%;
}
 
  .col-lg-2 {
    width: 50%;
  }
  
  .col-lg-3 {
    width: 100%;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2,.col-md-3 {
   float:left;
   float:right;
}

  
  .col-md-1 {
    width: 33.3%;
  }
 
  .col-md-2 {
    width: 50%;
  }
  
  .col-md-3 {
    width: 100%;
  }
}


#p4 #p1{
  margin-bottom: 20px;
  color: black;
  background:#F08080;
  text-align:center;
  width:30%;
  height: 20%;
  position:relative;
  top:0%;
  left:76%;
  border:1px solid black;
}

  #p5 #p2{
  margin-bottom: 20px;
  color:white;
  background:#FF6347;
  text-align:center;
  width:30%;
  height:20%;
  position:relative;
  top:0%;
  left:76%;
  border:1px solid black;
}

  #p6 #p3{
  margin-bottom: 20px;
  color:black;
  background:#F0E68C;
  text-align:center;
  width:30%;
  height: 20%;
  position:relative;
  top:0%;
  left:76%;
  border:1px solid black;
  }
  
